  <mat-sidenav-container class="example-container" fullscreen>
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" [fixedInViewport]="true">
      <app-header></app-header>
    </mat-sidenav>
    <mat-toolbar class="theme-red">
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()">Menu</button>
        <img class="fixed-ratio-resize" src="assets/images/favicon.ico">
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="home">
          <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>Home
        </button>
        <button mat-button routerLink="admin">
          Admin
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-12 text-left">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-container>